@import "tailwindcss";

@theme {
  --color-custom-white: #ffffff;
  --color-custom-black: #000000;
}

:root {
  color-scheme: light dark;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
